header {
  text-align: center;
  height: 8rem;
  margin-bottom: 2rem;
}

#content-container {
  height: 55vh;
}

@font-face {
  font-family: 'caviar-dreams'; /*a name to be used later*/
  src: url('../assets/fonts/caviar_dreams/CaviarDreams.ttf');
}

#logo {
  color: whitesmoke;
  font-family: 'caviar-dreams', serif
}

#logo span {
  font-size: 12px;
  padding-left: 2px;
  color: #fdb856;
  font-family: Roboto, serif;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.spinner {
  width: 4rem;
  height: 4rem;
}

.spinner-text {
  color: whitesmoke;
  font-family: caviar-dreams, serif;
  font-size: 2rem;
}
