@font-face {
  font-family: 'roboto'; /*a name to be used later*/
  src: url('../../../assets/fonts/roboto/Roboto-Light.ttf');
}

.category-name {
  color: white;
  text-align: start;
}

#award-info {
  font-family: 'caviar-dreams', serif;
  font-size: 3rem;
  color: white;
}

#voting-info-title {
  font-family: 'caviar-dreams', serif;
  font-weight: bold;
  color: gold;
}

.category-container {
  /*border: 1px solid #ffffff36;*/
  /*border-radius: 1.5rem;*/
  /*padding: 1rem;*/
  max-width: 70rem;
}

@font-face {
  font-family: 'caviar-dreams'; /*a name to be used later*/
  src: url('../../../assets/fonts/caviar_dreams/CaviarDreams.ttf');
}

@font-face {
  font-family: 'caviar-dreams'; /*a name to be used later*/
  src: url('../../../assets/fonts/caviar_dreams/CaviarDreams_Bold.ttf');
  font-weight: bold;
}

#fixed-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 4vw;
  margin-bottom: 4vh;
  fill: white;
  cursor: pointer;
}

#fixed-button svg {
  fill: white;
  /*background-color: yellow;*/
}

.card {
  border: 6px solid transparent;
}

.card-img-top {
  height: 273px;
  width: auto;
  max-width: 100%;
}

.card:hover, .card.selected {
  border: 6px groove gold !important;
  cursor: pointer;
}
