/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: black;
  text-align: center
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.red-snackbar {
  background-color: #ff1e1e !important;
  color: white !important;
}

.snackbar {
  margin-bottom: 5rem !important;
}

